<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="index.html">
	<system.webServer>
	  <staticContent>
		<clientCache cacheControlMode="DisableCache" cacheControlMaxAge="0.00:00:00" />
   
	  </staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="-1" />
			</customHeaders>
		</httpProtocol>  
	</system.webServer>
	</location>
    <system.webServer>
  <rewrite>
        <rules>
          <rule name="ReactRouter Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/(docs)" negate="true" />
              <add input="{URL}" negate="true" pattern="\.js$" />
              <add input="{URL}" negate="true" pattern="\.css$" />
            </conditions>
            <action type="Rewrite" url="index.html" />
          </rule>
        </rules>
      </rewrite>
 </system.webServer>
</configuration>